$baseUrl: './';
@import "compass";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/utilities/sprites/base";
@import "icons/*.png";
@import "fonts";

$icons-sprite-dimensions: true;

$mainPurple: #78297a;
$black: #000000;
$white: #ffffff;
$grey: #dedede;
$darkPurple: #551c57;
$lightPurple: #9d3ea1;
$footerPurple: #69206b;
$neutrabook: "Neutraface-Book", sans-serif;

@mixin font-smoothing($value: antialiased) {
		-webkit-font-smoothing: $value;
	};

html {
	font-size: 100%;
};

a {
	text-decoration: none;
	cursor: auto;
	@include transition(all .2s ease);
};

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: "Neutraface-Book", sans-serif;
	font-weight: normal;
	line-height: 1;
	color: $mainPurple;
};

h1 {
	font-size: 3em;
};

h3 {
	margin: 0 0 1.5em;
};

ul {
	list-style: none;
	padding: 0;
	margin-bottom: 10px;
	margin-left: 25px;
};

li {
	line-height: 20px;
};

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	@include transform-style(preserve-3d);
	@include backface-visibility(hidden);
};

header {
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: $mainPurple;
	height: 54px;
	box-shadow: 0 4px 0 0 rgba(0,0,0,.2);
	min-width: 1024px;
	padding: 8px 2.5%;
	z-index: 100;
	display: block;
	h1 {
		width: 314px;
		margin: 3px 4% 0 0;
		float: left;
		a.home {
			text-indent: -9999px;
			@include icons-sprite(logo);
			display: block;
			content: "";
		};
	};
	nav {
		margin-top: 12px;
		a {
			padding: 5px 1.85%;
			margin: 1px 1px 0 0;
			font-size: 1.8em;
			font-family: $neutrabook;
			color: $white;
			border-radius: 10px;
			float: left;
			@include transition(background .2s);
		};
	};
	.social-media {
		width: 375px;
		position: absolute;
		top: 0px;
		right: 0;
		li {
			float: left;
			margin-left: 7px;
			bottom: 0px;
		};
		.share {
			@include icons-sprite(share);
			content: "";
			text-indent: -9999em;
			margin-top: 14px;
			margin-right: 10px;
		}
		a.facebook {
			text-indent: -9999px;
			@include icons-sprite(fb_top);
			display: block;
			content: "";
			height: 45px;
			width: 40px;
		}
		a.facebook:hover {
			@include icons-sprite(fb_top_alt);
			content: "";
			display: block;
			height: 45px;
			width: 40px;
		}
		a.twitter {
			text-indent: -9999px;
			@include icons-sprite(tw_top);
			display: block;
			content: "";
			height: 45px;
			width: 40px;
		};
		a.twitter:hover {
			@include icons-sprite(tw_top_alt);
			content: "";
			display: block;
			height: 42px;
			width: 40px;
		}
		a.pinterest {
			text-indent: -9999px;
			@include icons-sprite(pn_top);
			display: block;
			content: "";
			height: 41px;
			width: 40px;
			margin-top: 2px;
		};
		a.pinterest:hover {
			@include icons-sprite(pn_top_alt);
			content: "";
			display: block;
			height: 45px;
			width: 40px;
		}
		a.email {
			text-indent: -9999px;
			@include icons-sprite(em_top);
			display: block;
			content: "";
			height: 45px;
			width: 40px;
			margin-top: -2px;
		};
		a.email:hover {
			@include icons-sprite(em_top_alt);
			content: "";
			display: block;
			height: 45px;
			width: 40px;
		}
	};
};

main {
	padding-top: 70px;
	min-width: 1024px;
	clear: both;
	overflow: hidden;
	display: block;
};

body {
	margin: 0;
	padding: 0;
	font-family: "NeutraText-BookAlt", sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: $black;
	@include font-smoothing(antialiased);
	.banner-images {
		position: relative;
		height: 0px;
		padding-bottom: 32.85%;
		.banner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
		};
	};
	.product-stack {
			position: absolute;
			left: 1%;
			bottom: -90px;
			width: 29%;
			max-width: 399px;
			margin: 0;
			display: block;
	};
	.back-button {
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		max-width: 1200px;
		margin: 0 auto;
		padding-right: .5%;
		z-index: 10;
		a {
			position: relative;
			float: right;
			margin: 0;
			padding: 20px 35px 15px 45px;
			background-color: $white;
			font-family: $neutrabook;
			color: $mainPurple;
			font-size: 1.6em;
			line-height: 1;
			border-radius: 40px;
			box-shadow: 0px 4px 0px rgba(0,0,0,.2);
		};
		a:before {
			@include icons-sprite(back_button);
			display: inline-block;
			content: "";
			float: left;
			margin-top: -6px;
			left: 25px;
			position: absolute;
			top: 43%;
		}
	};
	.container {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
	};
	.tabs {
		position: absolute;
		left: 32.5%;
		top: -60px;
		width: 67.5%;
		margin: 0;
		li {
			float: left;
			width: 32.333%;
			margin: 0 1% 0 0;
		};
		a {
			float: left;
			width: 100%;
			height: 60px;
			padding: 12px 7.5%;
			text-align: center;
			background-color: $mainPurple;
			color: $white;
			font-size: 2em;
			font-family: $neutrabook;
			border-radius: 5px 5px 0 0;
			display: block;
			box-sizing: border-box;
		};
		a.active {
			color: $mainPurple;
			background-color: $white;
			cursor: default;
			pointer-events: none;
		};
	};
};

.recipe {
	float: right;
	width: 60%;
	margin: 85px 2.5% 0 0 ;
	padding: 0 0 0 5%;
	display: none;
	color: $mainPurple;
	.title {
		font-size: 6em;
		line-height: 1em;
	};
	.time, .servings {
		font-family: "NeutraText-BookAlt", sans-serif;
		font-size: 2.4em;
		line-height: 1.7em;
		display: inline-block;
		margin: 5px 40px 15px 0;
	};
	.time:before {
		top: 14px;
		left: 2px;
		@include icons-sprite(prep);
	};
	.servings:before {
		top: 12px;
		@include icons-sprite(servings)
	};
	.time:before, .servings:before {
		content: "";
		display: inline-block;
		position: relative;
		padding-right: 15px;
	};
	.spacer {
		margin-left: 20px;
	};
	.ingredients {
		border-top: 2px solid $grey;
		padding-top: 45px;
	};
	section {
		margin-bottom: 45px;
		display: block;
		h3 {
			margin-bottom: 15px;
			font-size: 3em;
			font-family: $neutrabook;
		};
	};
	.ingredients-list, .directions ol, .tips-list {
		margin: 0 0 0 25px;
		padding: 0;
	};
	.ingredients li, .directions li, .tips li {
		position: relative;
		padding-left: 30px;
		font-size: 2em;
		line-height: 1.3em;
	};
	.ingredients li:before, .tips .li:before {
		position: absolute;
		left: -25px;
		content: '\2022';
	};
	.share-bar:before {
		content: "";
		background-color: $grey;
		height: 2px;
		width: 95%;
		display: block;
		margin-bottom: 15px;
		margin-top: 55px;
	};
	.share-bar:after {
		@extend .share-bar:before;
		margin-bottom: 10px;
		margin-top: 12px;
	};
	.share-bar {
		h4, ul, li {
			display: inline-block;
		};
		h4 {
			font-size: 2.4em;
			font-family: "NeutraText-BookAlt", sans-serif;
			line-height: 1.7em;
		};
		.social-media {
			margin: .8em 0 0 15px;
			position: absolute;
			li {
				margin: 0 3px;
			};
			a {
				text-indent: -999em;
				border-radius: 37px;
				overflow: hidden;
				display: block;
				@include transition(none);
				float: right;
			};
			a.facebook {
				@include icons-sprite(fb_mid);
				content: "";
				height: 42px;
				width: 42px;
				margin-top: -10px;
			};
			a.facebook:hover {
				@include icons-sprite(fb_mid_alt);
				content: "";
				height: 46px;
				width: 42px;
			}
			a.twitter {
				@include icons-sprite(tw_mid);
				content: "";
				height: 42px;
				width: 42px;
			};
			a.twitter:hover {
				@include icons-sprite(tw_mid_alt);
				content: "";
				height: 42px;
				width: 42px;
			}
			a.pinterest {
				@include icons-sprite(pn_mid);
				content: "";
				height: 42px;
				width: 42px;
			};
			a.pinterest:hover {
				@include icons-sprite(pn_mid_alt);
				content: "";
				height: 41px;
				width: 42px;
			}
			a.email {
				@include icons-sprite(em_mid);
				content: "";
				height: 42px;
				width: 42px;
			};
			a.email:hover {
				@include icons-sprite(em_mid_alt);
				content: "";
				height: 43px;
				width: 42px;
			}
		};
	};
	.nutrition h4 {
		font-size: 2.4em;
		font-family: "NeutraText-BookAlt", sans-serif;
		line-height: 1.7em;
	};
	.nutrition ul {
		margin: 25px 0 70px 27px;
		p {
			font-size: 2em;
			line-height: .75em;
			width: 300px;
			position: relative;
			margin: 0 0 10px;
			strong {
				position: absolute;
				top: 0;
				left: 145px;
				width: 100px;
				font-weight: normal;
				font-family: "NeutraText-BookAlt", sans-serif;
				font-style: normal;
			};
		};
		p:before {
			content: '\2022';
			font-size: 2em;
			position: relative;
			left: -24px;
		};
	};
};

footer {
	min-width: 1024px;
	float: left;
	width: 100%;
	padding: 50px 0 0;
	color: $white;
	text-align: center;
	background-color: $footerPurple;
	font-size: 1.6em;
	font-family: $neutrabook;
	display: block;
	.wrapper {
		max-width: 550px;
		padding: 0 2.5%;
		position: relative;
		margin: 0 auto;
	};
	.wrapper:first-child {
		max-width: 300px;
	};
	h5 {
		float: left;
		margin: 0 0 50px;
		border: 0;
		text-indent: -9999em;
		@include icons-sprite(logo2);
		content: "";
	};
	.social-media {
		float: right;
		margin: 20px 0 0 210px;
		position: absolute;
		a.twitter {
			text-indent: -9999em;
			@include transition(none);
			@include icons-sprite(tw_foot);
			content: "";
			display: block;
			height: 80px;
			width: 80px;
		};
		a.twitter:hover {
			@include icons-sprite(tw_foot_alt);
			content: "";
			display: block;
			height: 80px;
			width: 80px;
		}
	};
	li {
		float: left;
		display: inline;
	};
	hr {
		height: 0;
		margin: 0;
		border: 0;
		border-top: 1px solid $darkPurple;
		clear: both;
	};
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	};
	.legal {
		li:nth-child(1) {
			width: 45%;
		};
		li:nth-child(2), li:nth-child(3) {
			width: 27.5%;
		};
		li {
			width: 33.333%;
			padding: 5% 0;
		};
		a {
			color: $white;
			padding: 5px 17.85%;
			border-radius: 10px;
		};
	};
};


















