/* line 226, icons/*.png */
.icons-sprite, header h1 a.home, header .social-media .share, header .social-media a.facebook, header .social-media a.facebook:hover, header .social-media a.twitter, header .social-media a.twitter:hover, header .social-media a.pinterest, header .social-media a.pinterest:hover, header .social-media a.email, header .social-media a.email:hover, body .back-button a:before, .recipe .time:before, .recipe .servings:before, .recipe .share-bar .social-media a.facebook, .recipe .share-bar .social-media a.facebook:hover, .recipe .share-bar .social-media a.twitter, .recipe .share-bar .social-media a.twitter:hover, .recipe .share-bar .social-media a.pinterest, .recipe .share-bar .social-media a.pinterest:hover, .recipe .share-bar .social-media a.email, .recipe .share-bar .social-media a.email:hover, footer h5, footer .social-media a.twitter, footer .social-media a.twitter:hover {
  background: url('/./img/icons-s079ad2eddd.png') no-repeat;
}

/* line 20, ../sass/stylesheet.scss */
html {
  font-size: 100%;
}

/* line 24, ../sass/stylesheet.scss */
a {
  text-decoration: none;
  cursor: auto;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 30, ../sass/stylesheet.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: "NeutraText-BoldItalicAlt", sans-serif;
  font-weight: normal;
  line-height: 1;
  color: #78297a;
}

/* line 38, ../sass/stylesheet.scss */
h1 {
  font-size: 3em;
}

/* line 42, ../sass/stylesheet.scss */
h3 {
  margin: 0 0 1.5em;
}

/* line 46, ../sass/stylesheet.scss */
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 25px;
}

/* line 53, ../sass/stylesheet.scss */
li {
  line-height: 20px;
}

/* line 57, ../sass/stylesheet.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 66, ../sass/stylesheet.scss */
header {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #78297a;
  height: 54px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
  min-width: 1024px;
  padding: 8px 2.5%;
  z-index: 100;
  display: block;
}
/* line 77, ../sass/stylesheet.scss */
header h1 {
  width: 314px;
  margin: 3px 4% 0 0;
  float: left;
}
/* line 81, ../sass/stylesheet.scss */
header h1 a.home {
  text-indent: -9999px;
  background-position: 0 -104px;
  height: 45px;
  width: 314px;
  display: block;
  content: "";
}
/* line 88, ../sass/stylesheet.scss */
header nav {
  margin-top: 12px;
}
/* line 90, ../sass/stylesheet.scss */
header nav a {
  padding: 5px 1.85%;
  margin: 1px 1px 0 0;
  font-size: 1.8em;
  font-family: "NeutraText-BoldItalicAlt", sans-serif;
  color: white;
  border-radius: 10px;
  float: left;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 101, ../sass/stylesheet.scss */
header .social-media {
  width: 375px;
  position: absolute;
  top: 0px;
  right: 0;
}
/* line 106, ../sass/stylesheet.scss */
header .social-media li {
  float: left;
  margin-left: 7px;
  bottom: 0px;
}
/* line 111, ../sass/stylesheet.scss */
header .social-media .share {
  background-position: 0 -1138px;
  height: 22px;
  width: 63px;
  content: "";
  text-indent: -9999em;
  margin-top: 14px;
  margin-right: 10px;
}
/* line 118, ../sass/stylesheet.scss */
header .social-media a.facebook {
  text-indent: -9999px;
  background-position: 0 -991px;
  height: 45px;
  width: 40px;
  display: block;
  content: "";
  height: 45px;
  width: 40px;
}
/* line 126, ../sass/stylesheet.scss */
header .social-media a.facebook:hover {
  background-position: 0 -946px;
  height: 45px;
  width: 43px;
  content: "";
  display: block;
  height: 45px;
  width: 40px;
}
/* line 133, ../sass/stylesheet.scss */
header .social-media a.twitter {
  text-indent: -9999px;
  background-position: 0 -538px;
  height: 44px;
  width: 41px;
  display: block;
  content: "";
  height: 45px;
  width: 40px;
}
/* line 141, ../sass/stylesheet.scss */
header .social-media a.twitter:hover {
  background-position: 0 -679px;
  height: 45px;
  width: 40px;
  content: "";
  display: block;
  height: 42px;
  width: 40px;
}
/* line 148, ../sass/stylesheet.scss */
header .social-media a.pinterest {
  text-indent: -9999px;
  background-position: 0 -358px;
  height: 42px;
  width: 41px;
  display: block;
  content: "";
  height: 41px;
  width: 40px;
  margin-top: 2px;
}
/* line 157, ../sass/stylesheet.scss */
header .social-media a.pinterest:hover {
  background-position: 0 -400px;
  height: 47px;
  width: 39px;
  content: "";
  display: block;
  height: 45px;
  width: 40px;
}
/* line 164, ../sass/stylesheet.scss */
header .social-media a.email {
  text-indent: -9999px;
  background-position: 0 -582px;
  height: 50px;
  width: 42px;
  display: block;
  content: "";
  height: 45px;
  width: 40px;
  margin-top: -2px;
}
/* line 173, ../sass/stylesheet.scss */
header .social-media a.email:hover {
  background-position: 0 -632px;
  height: 47px;
  width: 40px;
  content: "";
  display: block;
  height: 45px;
  width: 40px;
}

/* line 183, ../sass/stylesheet.scss */
main {
  padding-top: 70px;
  min-width: 1024px;
  clear: both;
  overflow: hidden;
  display: block;
}

/* line 191, ../sass/stylesheet.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "NeutraText-BookAlt", sans-serif;
  font-size: 10px;
  line-height: 20px;
  color: black;
  -webkit-font-smoothing: antialiased;
}
/* line 199, ../sass/stylesheet.scss */
body .banner-images {
  position: relative;
  height: 0px;
  padding-bottom: 32.85%;
}
/* line 203, ../sass/stylesheet.scss */
body .banner-images .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 212, ../sass/stylesheet.scss */
body .product-stack {
  position: absolute;
  left: 1%;
  bottom: -90px;
  width: 29%;
  max-width: 399px;
  margin: 0;
  display: block;
}
/* line 221, ../sass/stylesheet.scss */
body .back-button {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: .5%;
  z-index: 10;
}
/* line 230, ../sass/stylesheet.scss */
body .back-button a {
  position: relative;
  float: right;
  margin: 0;
  padding: 20px 35px 15px 45px;
  background-color: white;
  font-family: "NeutraText-BoldItalicAlt", sans-serif;
  color: #78297a;
  font-size: 1.6em;
  line-height: 1;
  border-radius: 40px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}
/* line 243, ../sass/stylesheet.scss */
body .back-button a:before {
  background-position: 0 -1160px;
  height: 17px;
  width: 15px;
  display: inline-block;
  content: "";
  float: left;
  margin-top: -6px;
  left: 25px;
  position: absolute;
  top: 43%;
}
/* line 254, ../sass/stylesheet.scss */
body .container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 259, ../sass/stylesheet.scss */
body .tabs {
  position: absolute;
  left: 32.5%;
  top: -60px;
  width: 67.5%;
  margin: 0;
}
/* line 265, ../sass/stylesheet.scss */
body .tabs li {
  float: left;
  width: 32.333%;
  margin: 0 1% 0 0;
}
/* line 270, ../sass/stylesheet.scss */
body .tabs a {
  float: left;
  width: 100%;
  height: 60px;
  padding: 12px 7.5%;
  text-align: center;
  background-color: #78297a;
  color: white;
  font-size: 2em;
  font-family: "NeutraText-BoldItalicAlt", sans-serif;
  border-radius: 5px 5px 0 0;
  display: block;
  box-sizing: border-box;
}
/* line 284, ../sass/stylesheet.scss */
body .tabs a.active {
  color: #78297a;
  background-color: white;
  cursor: default;
  pointer-events: none;
}

/* line 293, ../sass/stylesheet.scss */
.recipe {
  float: right;
  width: 60%;
  margin: 85px 2.5% 0 0;
  padding: 0 0 0 5%;
  display: none;
  color: #78297a;
}
/* line 300, ../sass/stylesheet.scss */
.recipe .title {
  font-size: 6em;
  line-height: 1em;
}
/* line 304, ../sass/stylesheet.scss */
.recipe .time, .recipe .servings {
  font-family: "NeutraText-BookAlt", sans-serif;
  font-size: 2.4em;
  line-height: 1.7em;
  display: inline-block;
  margin: 5px 40px 15px 0;
}
/* line 311, ../sass/stylesheet.scss */
.recipe .time:before {
  top: 14px;
  left: 2px;
  background-position: 0 -813px;
  height: 41px;
  width: 39px;
}
/* line 316, ../sass/stylesheet.scss */
.recipe .servings:before {
  top: 12px;
  background-position: 0 -316px;
  height: 42px;
  width: 59px;
}
/* line 320, ../sass/stylesheet.scss */
.recipe .time:before, .recipe .servings:before {
  content: "";
  display: inline-block;
  position: relative;
  padding-right: 15px;
}
/* line 326, ../sass/stylesheet.scss */
.recipe .spacer {
  margin-left: 20px;
}
/* line 329, ../sass/stylesheet.scss */
.recipe .ingredients {
  border-top: 2px solid #dedede;
  padding-top: 45px;
}
/* line 333, ../sass/stylesheet.scss */
.recipe section {
  margin-bottom: 45px;
  display: block;
}
/* line 336, ../sass/stylesheet.scss */
.recipe section h3 {
  margin-bottom: 15px;
  font-size: 3em;
  font-family: "NeutraText-BoldItalicAlt", sans-serif;
}
/* line 342, ../sass/stylesheet.scss */
.recipe .ingredients-list, .recipe .directions ol, .recipe .tips-list {
  margin: 0 0 0 25px;
  padding: 0;
}
/* line 346, ../sass/stylesheet.scss */
.recipe .ingredients li, .recipe .directions li, .recipe .tips li {
  position: relative;
  padding-left: 30px;
  font-size: 2em;
  line-height: 1.3em;
}
/* line 352, ../sass/stylesheet.scss */
.recipe .ingredients li:before, .recipe .tips .li:before {
  position: absolute;
  left: -25px;
  content: '\2022';
}
/* line 357, ../sass/stylesheet.scss */
.recipe .share-bar:before, .recipe .share-bar:after {
  content: "";
  background-color: #dedede;
  height: 2px;
  width: 95%;
  display: block;
  margin-bottom: 15px;
  margin-top: 55px;
}
/* line 366, ../sass/stylesheet.scss */
.recipe .share-bar:after {
  margin-bottom: 10px;
  margin-top: 12px;
}
/* line 372, ../sass/stylesheet.scss */
.recipe .share-bar h4, .recipe .share-bar ul, .recipe .share-bar li {
  display: inline-block;
}
/* line 375, ../sass/stylesheet.scss */
.recipe .share-bar h4 {
  font-size: 2.4em;
  font-family: "NeutraText-BookAlt", sans-serif;
  line-height: 1.7em;
}
/* line 380, ../sass/stylesheet.scss */
.recipe .share-bar .social-media {
  margin: .8em 0 0 15px;
  position: absolute;
}
/* line 383, ../sass/stylesheet.scss */
.recipe .share-bar .social-media li {
  margin: 0 3px;
}
/* line 386, ../sass/stylesheet.scss */
.recipe .share-bar .social-media a {
  text-indent: -999em;
  border-radius: 37px;
  overflow: hidden;
  display: block;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  float: right;
}
/* line 394, ../sass/stylesheet.scss */
.recipe .share-bar .social-media a.facebook {
  background-position: 0 -1036px;
  height: 47px;
  width: 44px;
  content: "";
  height: 42px;
  width: 42px;
  margin-top: -10px;
}
/* line 401, ../sass/stylesheet.scss */
.recipe .share-bar .social-media a.facebook:hover {
  background-position: 0 -1083px;
  height: 55px;
  width: 43px;
  content: "";
  height: 46px;
  width: 42px;
}
/* line 407, ../sass/stylesheet.scss */
.recipe .share-bar .social-media a.twitter {
  background-position: 0 -724px;
  height: 44px;
  width: 42px;
  content: "";
  height: 42px;
  width: 42px;
}
/* line 413, ../sass/stylesheet.scss */
.recipe .share-bar .social-media a.twitter:hover {
  background-position: 0 -900px;
  height: 46px;
  width: 41px;
  content: "";
  height: 42px;
  width: 42px;
}
/* line 419, ../sass/stylesheet.scss */
.recipe .share-bar .social-media a.pinterest {
  background-position: 0 -447px;
  height: 47px;
  width: 43px;
  content: "";
  height: 42px;
  width: 42px;
}
/* line 425, ../sass/stylesheet.scss */
.recipe .share-bar .social-media a.pinterest:hover {
  background-position: 0 -494px;
  height: 44px;
  width: 40px;
  content: "";
  height: 41px;
  width: 42px;
}
/* line 431, ../sass/stylesheet.scss */
.recipe .share-bar .social-media a.email {
  background-position: 0 -768px;
  height: 45px;
  width: 42px;
  content: "";
  height: 42px;
  width: 42px;
}
/* line 437, ../sass/stylesheet.scss */
.recipe .share-bar .social-media a.email:hover {
  background-position: 0 -854px;
  height: 46px;
  width: 41px;
  content: "";
  height: 43px;
  width: 42px;
}
/* line 445, ../sass/stylesheet.scss */
.recipe .nutrition h4 {
  font-size: 2.4em;
  font-family: "NeutraText-BookAlt", sans-serif;
  line-height: 1.7em;
}
/* line 450, ../sass/stylesheet.scss */
.recipe .nutrition ul {
  margin: 25px 0 70px 27px;
}
/* line 452, ../sass/stylesheet.scss */
.recipe .nutrition ul p {
  font-size: 2em;
  line-height: .75em;
  width: 300px;
  position: relative;
  margin: 0 0 10px;
}
/* line 458, ../sass/stylesheet.scss */
.recipe .nutrition ul p strong {
  position: absolute;
  top: 0;
  left: 145px;
  width: 100px;
  font-weight: normal;
  font-family: "NeutraText-BookAlt", sans-serif;
  font-style: normal;
}
/* line 468, ../sass/stylesheet.scss */
.recipe .nutrition ul p:before {
  content: '\2022';
  font-size: 2em;
  position: relative;
  left: -24px;
}

/* line 477, ../sass/stylesheet.scss */
footer {
  min-width: 1024px;
  float: left;
  width: 100%;
  padding: 50px 0 0;
  color: white;
  text-align: center;
  background-color: #69206b;
  font-size: 1.6em;
  font-family: "NeutraText-BoldItalicAlt", sans-serif;
  display: block;
}
/* line 488, ../sass/stylesheet.scss */
footer .wrapper {
  max-width: 550px;
  padding: 0 2.5%;
  position: relative;
  margin: 0 auto;
}
/* line 494, ../sass/stylesheet.scss */
footer .wrapper:first-child {
  max-width: 300px;
}
/* line 497, ../sass/stylesheet.scss */
footer h5 {
  float: left;
  margin: 0 0 50px;
  border: 0;
  text-indent: -9999em;
  background-position: 0 0;
  height: 104px;
  width: 154px;
  content: "";
}
/* line 505, ../sass/stylesheet.scss */
footer .social-media {
  float: right;
  margin: 20px 0 0 210px;
  position: absolute;
}
/* line 509, ../sass/stylesheet.scss */
footer .social-media a.twitter {
  text-indent: -9999em;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background-position: 0 -229px;
  height: 87px;
  width: 80px;
  content: "";
  display: block;
  height: 80px;
  width: 80px;
}
/* line 518, ../sass/stylesheet.scss */
footer .social-media a.twitter:hover {
  background-position: 0 -149px;
  height: 80px;
  width: 81px;
  content: "";
  display: block;
  height: 80px;
  width: 80px;
}
/* line 526, ../sass/stylesheet.scss */
footer li {
  float: left;
  display: inline;
}
/* line 530, ../sass/stylesheet.scss */
footer hr {
  height: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #551c57;
  clear: both;
}
/* line 537, ../sass/stylesheet.scss */
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 543, ../sass/stylesheet.scss */
footer .legal li:nth-child(1) {
  width: 45%;
}
/* line 546, ../sass/stylesheet.scss */
footer .legal li:nth-child(2), footer .legal li:nth-child(3) {
  width: 27.5%;
}
/* line 549, ../sass/stylesheet.scss */
footer .legal li {
  width: 33.333%;
  padding: 5% 0;
}
/* line 553, ../sass/stylesheet.scss */
footer .legal a {
  color: white;
  padding: 5px 17.85%;
  border-radius: 10px;
}
